<p>Building fields</p>

<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
</div>
<p>Apartment fields</p>
<%= form.fields_for :apartments do |apartment_form| %>
    <%= apartment_form.label :number %>
    <%= apartment_form.text_field :number %>
    <%= apartment_form.label :sale_price %>
    <%= apartment_form.text_field :sale_price %>
<% end %>
